.background-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    margin: 0;
    background-image: url(../../assets/backgroundwelcome.jpg)
/* 
-background-repeat: no-repeat: digunakan untuk menghindari gambar background diulang
-background-size: cover: digunakan untuk membuat gambar background menutupi seluruh area body sehingga tidak ada bagian yang kosong. Jika ukuran gambar terlalu kecil atau terlalu besar, maka gambar akan diperbesar atau diperkecil sehingga menyesuaikan ukuran body.
-background-position: center bottom: digunakan untuk menempatkan gambar background di tengah horizontal dan bawah vertikal dari body.
-height: 100vh: digunakan untuk membuat tinggi body sebesar 100% dari viewport height (tinggi tampilan browser).
-margin: 0: digunakan untuk menghilangkan margin default pada body. */
}

.form-control::placeholder {
    color: #bab8b8; /* ganti dengan warna yang diinginkan */

  }

.btn{
    text-shadow: 2px 2px #152604;
}

.nav-link:hover{
    background-color: rgb(56, 56, 56)  !important;
}

.navbar-brand:hover{
    background-color: rgb(56, 56, 56)  !important;
}



